body{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
    background-color: rgb(255, 255, 255);
}



#content{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    padding: 0;
    
}
header{
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgb(76, 10, 10);
}
#tswira{
    position: absolute;
    width: 30%;
    height: 35%;
    background-color: rgb(187, 142, 53);
    right: -32%;
    top: 50%;
    transform: rotate(-25deg);
    border-radius:50px ;
    transition: 2s all;
    opacity: 0;
}
#tswira.move{
    position: absolute;
    width: 30%;
    height: 35%;
    background-color: rgb(187, 142, 53);
    right: 20%;
    top: 50%;
    transform: rotate(-25deg);
    border-radius:50px ;
    animation: ythrek 4s infinite;
    opacity: 1;
}

@keyframes ythrek {
    0%{
        transform: scale(1)rotate(-25deg);
        box-shadow: 0 0 30px rgb(255, 179, 0);

    }
    50% {
        transform: scale(1.1)rotate(-25deg);
        box-shadow: 0 0 100px rgb(255, 179, 0);
    }
    100%{
        transform: scale(1)rotate(-25deg);
        box-shadow: 0 0 30px rgb(255, 179, 0);

    }
}


#tswira img{
    position: absolute;
    width: 90%;
    height: auto;
    left:10%;
    top: -3%;

}

#mininike{
    position: absolute;
    width: 15%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    top: 5%;
    left: 5%;

}

#mininike img{
    position: absolute;
    width: 60px;
    height: auto;
    top: 25%;
    left: 15%;
}

header{
    position: absolute;
    width: 100%;
    height: 20%;
    background: rgba(255, 0, 0, 0.271);

    
}

#nike-seeklogo{
    position: absolute;
    width: 250px;
    height:100px;
    top: 20%;
    left: -10%;
    opacity: 0; /*transaprensity*/
    transition: all 2s;
}
#nike-seeklogo.after{
    position: absolute;
    width: 250px;
    height:100px;
    top: 20%;
    left: 5%;
    opacity: 1;
}


header button,input{
    position:  absolute;
    border: none;
    


}

.options{
    top: 50%;
    width: 10%;
    height: 20%;
    background-color: transparent;
    color: white;
    font-size: 100%;
    transition: 0.5s all;
    border-radius: 20px;
    padding: 5px 10px;

}
.options:hover{
    background-color: rgba(255, 255, 255, 0.275);
    transform: scale(1.05);
}


#btn1{
    left: 25%;
}

#btn2{
    left: 35%;
}
#btn3{
    left: 45%;
}
#btn4{
    left: 55%;
}


header input{
    top:50% ;
    left: 67%;
    width: 15%;
    height: 20%;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 0 20px;
    transition: 0.5s all;
    text-align: center;

}


.box input:focus{
    box-shadow: 0 0 30px rgb(173, 127, 66);
    outline: none;
}


#options{
    opacity: 0;
    transition: 2s all;
}
#options.after{
    opacity: 1;
}




#loginbutton{
    background-color:rgb(255, 170, 0) ;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 87%;
}

#loginbutton:hover{
    color: aliceblue;
    background-color: black;
}


#menu{
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 100%;
    transition: 0.5s all;
    top: 20%;
    width: 3%;
    height: auto;
    left: 94%;
    font-size: 170%;
}

#menu:hover{
    color: bisque;
    background-color: rgba(255, 0, 0, 0.159);
    box-shadow: 0 0 30px black;
}


#search{
    top: 50%;
    left: 83%;
    width: 3%;
    height: 20%;
    border-radius: 20px;
    background-color: rgb(255, 170, 0);
    color: rgb(0, 0, 0);
    font-weight: 900;
    transition: 0.5s all;

}
#menupaper{
    background-color: rgb(61, 0, 0);
    position: absolute;
    top: 0;
    right:-20%;
    width: 20%;
    height: 100%;
    transition: 1s all;

}

#menupaper.show{
    right: 0;
}

#closemenu{
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    transition: 1s all;
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 5%;
    border-radius: 0 0 10px 0;

}
#closemenu:hover{
    background-color: rgba(240, 248, 255, 0.228);
}